# Laravel / PHP
/vendor/
/.env
.env.backup
.phpunit.result.cache
/storage/*.key
/public/storage
/public/hot
/storage/logs/*.log
composer.lock
composer.phar

# Node.js / Frontend
/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
package-lock.json
yarn.lock

# IDE
/.idea
/.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
!.env.example
docker-compose.override.yml

# Логи
*.log